[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-image = "==0.17.2"
imgaug = "==0.4.0"
pyclipper = "*"
lmdb = "*"
tqdm = "*"
numpy = "*"
visualdl = "*"
opencv-contrib-python = "==4.4.0.46"
lxml = "*"
premailer = "*"
openpyxl = "*"
Shapely = "*"
python-Levenshtein = "*"
paddlepaddle = {version = "*", index = "https://mirror.baidu.com/pypi/simple"}

[dev-packages]

[requires]
python_version = "3.8"
